h1,h2,h3,h4,h5,h6{
font-family: 'PT Serif', serif;
}
body{
}
button{
  cursor: pointer;
}
input{
  padding: 10px;
  width: 300px;
}
p,div,span{
  font-family: 'Raleway', sans-serif;
}
img{
  height: 480px;
  width: 100%;
}
#navtop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
#navtop div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  flex-direction: row;
}
#navtop div :first-child{
  margin-right: 20px;
}
#landing{
  display: flex;
  flex-direction: row;
  background-image: url('../assets/home.jpg');
  background-repeat: no-repeat;
  image-resolution: from-image;
  background-size: cover;
  height: 60vh;
  background-position: center;
  margin: 0px;
  justify-content: space-around;
}

#landing p{
  align-self: center;
  font-size: 80px;
  color: white;
}

#landing div{
  display: flex;
  box-shadow: 0px 10px 20px 5px #1F1F1F;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  background-color: white;
  padding: 20px;
}

#landing div p{
  color: black;
  font-size: 24px;
}

#landing div button{
  padding: 10px 30px 10px 30px;
  background-color: #696969;
  border: none;
  color: white;
  align-self: center;
  transition: 0.2s;
}

#landing div button:hover{
  padding: 15px 35px 15px 35px;
}
